.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* .hd{
    background-image: url(picture/closeup-shot-crescent-moon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
} */
.section{

  width: 100%;
  
}
.hd{
 
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.lg{
  background-color: red;
 
}
.ab{
  background-color: blue;
 
}
.ct{
  background-color: green;
 
}
.cc{
  background-color: rgba(0,0,0,0);
}
.navbar-nav .nav-item a:hover {
  border-radius: 5px;
background-color: black;

}
.dd{
  margin-bottom: 10px;
}
/* .card:hover{
  border: 3px solid red;
} */
.non{
  color: white;
text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}
.ddd{
  text-shadow: -1px -1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue, 1px 1px 0 blue;
}
.nonn{
  color: white;
text-shadow: -1px -1px 0 rgb(4, 245, 77), 1px -1px 0 rgb(4, 245, 77), -1px 1px 0 rgb(4, 245, 77), 1px 1px 0 rgb(4, 245, 77);
}
.gaygay{

  margin-top: 10px;
  margin-bottom: 10px;

}
.text1{

  color: red;
  font-weight: bold;

}

.text2{
  color: blue;
  font-weight: bold;


  
}
.kkk{

  background-image: linear-gradient(45deg,#f046ff,#9b00e8);
  border-radius: 3px;
}
.ggg{

  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}
.jjj{

  background: rgb(247,1,1);
background: linear-gradient(90deg, rgba(247,1,1,1) 32%, rgba(176,38,143,1) 99%);

}